# Игнорировать виртуальное окружение Python
venv/
env/

# Игнорировать кэш и байт-код Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы логов приложения
*.log
app.log

# Игнорировать секреты
.env
